.jenkins
.pipeline
.vs
.vscode
nginx-alpine
openshift
transaction-client
TransAction.SQL
node_modules
*/node_modules
bin
*/bin
obj
*/obj
Properties
*/Properties
*.user
*/*.user
*/appsettings.Development.json