@import './vendor/variables.scss';

.carousel {
  background-color: rgba(map-get($theme-colors, primary), 0.1);
}

.carousel-control-next,
.carousel-control-prev {
  cursor: pointer;
}

.carousel-inner .carousel-item {
  text-align: center;
}

.carousel-item > img {
  width: auto !important;
  margin: 0 auto;
  height: 100%;
}

@include media-breakpoint-down(xs) {
  .carousel-inner .carousel-item {
    height: 120px;
  }
}

@include media-breakpoint-up(sm) {
  .carousel-inner .carousel-item {
    height: 200px;
  }
}

@include media-breakpoint-up(lg) {
  .carousel-inner .carousel-item {
    height: 300px;
  }
}
