@import './vendor/bootstrap-theme.scss';

@import 'vendor-overrides.scss';
@import 'carousel.scss';

body {
  background-color: #e2e1e0;
}

.no-underline {
  text-decoration: none;
}

button.w75 {
  width: 75px;
}

.hover-pointer {
  cursor: pointer;
}

.event-description {
  white-space: pre-wrap;
}

.large-welcome-text {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.2;
}

.card-wrapper {
  padding: 16px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 16px;
}

img.profile-frame {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

// Check stuff below

textarea.form-control {
  height: 250px;
}

#progress {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.titleform {
  display: inline-block;
}

#centerText {
  text-align: center;
}
#borderRoleDifferences {
  border: 2px solid;
}

#progressCard {
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

#labelCardProgress {
  height: 2rem;
  width: 5%;
}

#log-time {
  width: 50%;
  display: inline-block;
}
