apiVersion: v1
kind: Template
metadata:
  creationTimestamp: null
  name: transaction
labels:
  template: transaction
objects:
<<<<<<< HEAD
  - apiVersion: v1
    kind: ImageStream
    metadata:
      creationTimestamp: null
      labels:
        shared: true
      name: ${NAME}
    spec:
      lookupPolicy:
        local: false
  - apiVersion: v1
    kind: DeploymentConfig
    metadata:
      creationTimestamp: null
=======
- apiVersion: v1
  kind: ImageStream
  metadata:
    creationTimestamp: null
    labels:
      shared: true
    name: ${NAME}
  spec:
    lookupPolicy:
      local: false
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    creationTimestamp: null
    name: ${NAME}${SUFFIX}
  spec:
    replicas: 1
    selector:
      deploymentconfig: ${NAME}${SUFFIX}
    strategy:
      resources:
        requests:
          cpu: '100m'
        limits:
          cpu: '150m'
    template:
      metadata:
        creationTimestamp: null
        labels:
          deploymentconfig: ${NAME}${SUFFIX}
      spec:
        containers:
        - image: ${NAME}:${VERSION}
          name: client
          ports:
          - containerPort: 5000
            protocol: TCP
          resources:
            requests:
              cpu: '100m'
            limits:
              cpu: '150m'
        #   volumeMounts:
        #   - name: ${VOLUME_NAME}
        #     mountPath: /etc/nginx/conf.d
        #     readOnly: true
        # volumes:
        # - name: ${VOLUME_NAME}
        #   configMap:
        #     defaultMode: 420
        #     items:
        #       - key: nginx.conf
        #         path: default.conf
        #     name: nginx.conf
    test: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - client
        from:
          kind: ImageStreamTag
          name: ${NAME}:${VERSION}
      type: ImageChange
- apiVersion: v1
  kind: Service
  metadata:
    creationTimestamp: null
    name: ${NAME}${SUFFIX}
  spec:
    ports:
    - name: web
      port: 5000
      protocol: TCP
      targetPort: 5000
    selector:
      deploymentconfig: ${NAME}${SUFFIX}
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    creationTimestamp: null
    name: ${NAME}${SUFFIX}
  spec:
    host:
    port:
      targetPort: web
    to:
      kind: Service
>>>>>>> Updated build and deploy configs to build/deploy all
      name: ${NAME}${SUFFIX}
    spec:
      replicas: 1
      selector:
        deploymentconfig: ${NAME}${SUFFIX}
      strategy:
        resources:
          requests:
            cpu: "100m"
          limits:
            cpu: "150m"
      template:
        metadata:
          creationTimestamp: null
          labels:
            deploymentconfig: ${NAME}${SUFFIX}
        spec:
          containers:
            - image: ${NAME}:${VERSION}
              name: client
              ports:
                - containerPort: 5000
                  protocol: TCP
              resources:
                requests:
                  cpu: "100m"
                limits:
                  cpu: "150m"
          #   volumeMounts:
          #   - name: ${VOLUME_NAME}
          #     mountPath: /etc/nginx/conf.d
          #     readOnly: true
          # volumes:
          # - name: ${VOLUME_NAME}
          #   configMap:
          #     defaultMode: 420
          #     items:
          #       - key: nginx.conf
          #         path: default.conf
          #     name: nginx.conf
      test: false
      triggers:
        - type: ConfigChange
        - imageChangeParams:
            automatic: true
            containerNames:
              - client
            from:
              kind: ImageStreamTag
              name: ${NAME}-static:${VERSION}
          type: ImageChange
  - apiVersion: v1
    kind: Service
    metadata:
      creationTimestamp: null
      name: ${NAME}${SUFFIX}
    spec:
      ports:
        - name: web
          port: 5000
          protocol: TCP
          targetPort: 5000
      selector:
        deploymentconfig: ${NAME}${SUFFIX}
  - apiVersion: route.openshift.io/v1
    kind: Route
    metadata:
      creationTimestamp: null
      name: ${NAME}${SUFFIX}
    spec:
      host:
      port:
        targetPort: web
      to:
        kind: Service
        name: ${NAME}${SUFFIX}
        weight: 100
      wildcardPolicy: None
parameters:
<<<<<<< HEAD
  - description: A name used for all objects
    displayName: Name
    name: NAME
    required: true
    value: "client"
  - description: A name suffix used for all objects
    displayName: Suffix
    name: SUFFIX
    required: false
    value: "-dev"
  - description: A version used for the image tags
    displayName: version
    name: VERSION
    required: true
    value: "v1.0.0"
  - description: The ASP Net Core deployment environment setting
    displayName: AspNetCore Environment
    name: ASPNETCORE_ENVIRONMENT
    required: true
    value: "Development"
=======
- description: A name used for all objects
  displayName: Name
  name: NAME
  required: true
  value: 'client'
- description: A name suffix used for all objects
  displayName: Suffix
  name: SUFFIX
  required: false
  value: '-dev'
- description: A version used for the image tags
  displayName: version
  name: VERSION
  required: true
  value: 'v1.0.0'  
- description: The ASP Net Core deployment environment setting
  displayName: AspNetCore Environment
  name: ASPNETCORE_ENVIRONMENT
  required: true
  value: 'Development'
>>>>>>> Updated build and deploy configs to build/deploy all
# - description: Nginx config volume
#   displayName: Volume Name
#   name: VOLUME_NAME
#   required: false
<<<<<<< HEAD
#   value: nginx-config
=======
#   value: nginx-config
>>>>>>> Updated build and deploy configs to build/deploy all
